table {
    text-align: center;
}
#t1
{
    background-color: #415e9b;
    width: 100%;
    height: 100px;
    text-align: center;
}
#t2
{
    background-color: rgba(177, 231, 238, 0.76);
    width: 100%;
    height: 600px;
    text-align: center;
}
#t22{ 
    text-align: center;
}
.t11{
    width: 60%;
}
#fm , #date , #name{ width: 100%;

}
#t2g{
    width: 100%;
    height: 100%;
}

#b2 {
    background-color: green;
    color: white;
}
#b1{
    background-color: blue;
    color:white;
}
img {
    top:10px;
}
p{ position: relative;
    top: 10%;
}