table {
    text-align: center;
}
#t1
{
    background-color: #415e9b;
    width: 100%;
    height: 100px;
    text-align: center;
}
#t2
{
    background-color: rgba(177, 231, 238, 0.76);
    width: 100%;
    height: 600px;
    text-align: left;
}
#t22{ 
    text-align: left;
    margin-top:-4px;
}
#t11{
    width: 60%;
    text-align: left;
    padding-left: 15%;
}
#fm , #date , #name{ width: 100%; 
                      text-align: left;
}
#t2g{
    width: 100%;
    height: 100%;
}

#b2 {
    background-color: green;
    color: white;
}
#b1{
    background-color: blue;
    color:white;
    
}
img {
    width: 96%;
    height: 96%;
    position: relative;
    top: -71px;
}
#ps {
    text-align: left;
}
#t1 #t11 h1 {
    color: white;
}
#par1 {
    padding-right: 10px;
    margin-top:10px;
}
h2{
    margin-top: -78px;
}
#t22 tr{
    height: 30px;
}
#t111 {
    margin-bottom: 19px;
}
#t1111 tr{
    height: 25px;
}
#t111 tr {
    height: 25px;
}
h1 { 
    font-size: 50px;
}